.btn-ag {
    border: none;
    color:white;
      background-color: black;
    padding: 1% 18%;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 grey, 0 6px 20px 0 grey;
  }

  .btn-ag:hover{
    color:black;
    background-color: lightgray;
  }

  .btns-gr{
      margin-top: 5%;
      align-items: center; 
      display: flex;
      justify-content: space-around;
      flex-direction: column;
  }