.graph-gr{
      margin-top: 5%;
      align-items: center; 
      display: flex;
      justify-content: space-around;
      flex-direction: column;
  }

.dist-gr{
  width: 60%;
  height:auto;
}
.ven-gr{
  width: 60%;
  height:auto;
}